<div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/haber/2022/12/05/dun-aksam-masterchef-e-kim-elemdi-tolga-mi-gamze-15473430_9954_300.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dün akşam MasterChef'e Kim Veda Etti?</h5>
      <p class="card-text">Eleme turuna kalan Gamze ve Tolga  son yemekleri olmaması için yarıştılar.Masterchef Türkiye'de hayallerine veda eden isim Gamze oldu.</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>

  <div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/manset/2022/12/03/iste-dunya-kupasi-ndaki-ilk-ceyrek-final-eslesmesi_15471621_13.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dünya Kupası'nda Çeyrek Final Müthiş Bir Maça Sahne Olacak</h5>
      <p class="card-text">Arjantin ile Avustralya Mücadelesinde Arjantin 2-1 kazanarak, çeyrek finale adını yazdırdı. ARJANTİN'İN RAKİBİ HOLLANDA</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>

  <div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/manset/2022/12/05/gelir-adaletsizligi-giderek-artiyor-diyen-disk_15474021_69.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Disk Asgari Ücret Talebini Açıkladı:</h5>
      <p class="card-text">Disk Başkanı Arzu Çerkezoğlu "Asgari ücretin net 13 bin 200TL olması gerekir.Enflasyon tek haneye düşene kadar yılda 4 kez güncellenmeli"dedi.</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>

  <div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/manset/2022/12/01/milyoner-e-agzinda-sakizla-cikti-kenan_15464988_82.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Milyoner'e ağzında sakızla çıktı Kenan İmirzalıoğlu'nun tepkisi çok sert oldu</h5>
      <p class="card-text">Dinçer'in ağzında bir şey olduğunu fark eden İmirzalıoğlu,"Ağzında bir şey mi var?" diyerek sordu.Genç yarışmacı ise rahatlamak için sakız çiğnediğini söyledi.</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>

  <div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/haber/2022/12/05/kumar-oynayan-6-kisiye-39-bin-609-tl-ceza-15474137_local.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kumar Oynayan 6 Kişiye 39 Bin 609TL Ceza</h5>
      <p class="card-text">Antalya'nın Alanya ilçesi Konaklı Mahallesindeki bir kahvehanede kumar oynandığı bilgisini alan jandarma ekipleri harekete geçti.Kahvehaneye düzenlenen operasyonda kumar oynayan 5 kişi suçüstü yakalandı.</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>

  <div class="card" style="width: 50rem;">
    <img src="https://i.hbrcdn.com/haber/2022/11/26/elon-musk-simdide-telefon-uretmeyi-hedefliyor-15454328_7028_300.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Iphone'a Rakip Olabilir!</h5>
      <p class="card-text">Twitter'ın yeni patronu Elon Musk, şimdi de telefon üretmek için kolları sıvadı.Musk, "Twitter'ın, Apple ve Google'ın uygulama mağazalarından yasaklanması durumunda kendi telefonumu üreteceğim" diyerek bu sektöre gireceğinin sinyalini verdi.</p>
      <a href="#" class="btn btn-primary">Anasayfaya dön</a>
    </div>
  </div>