<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>HABERLER</h3>

      <select class="form-control" [(ngModel)]="katId" (ngModelChange)="KatSec($event)">
        <option [value]="kat.katid" *ngFor="let kat of kategoriler">{{kat.katadi}}</option>
      </select>

      <button class="btn btn-outline-primary mt-3" (click)="Ekle(modal2EkleDuzenle)"
        >Haber Ekle</button>
      <p>
        <!-- Seçili Kategori : <b>{{secKat.adi}}</b> -->
      </p>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Haber Adı</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let haber of haberler">
            <td>{{haber.haberId}}</td>
            <td>{{haber.haberadi}}</td>
            <td>{{haber.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{haber.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-warning" (click)="Duzenle(haber,modal2EkleDuzenle)"
                >Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(haber,modalSil)"
                >Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modal2EkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="HaberEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Haber Adı</label>
            <input type="text" class="form-control" formControlName="haberadi">
            <label>Haber Başlığı</label>
            <input type="text" class="form-control" formControlName="baslik">
            <label>Haber Resmi</label>
            <input type="text" class="form-control" formControlName="resim">
            <label>Kategori</label>
            <select class="form-control" formControlName="categoryId">
              <option [value]="kat.katid" *ngFor="let kat of kategoriler">{{kat.katadi}}</option>
            </select>
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secHaber">{{secHaber.haberadi}} adlı Haber Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secHaber" (click)="HaberSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>